@import "./variables";
@mixin button-style(
  $bg-color,
  $text-color,
  $hover-color,
  $shadow-color,
  $padding,
  $font-size,
  $font-weight
) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 0.4rem;
  padding: $padding;
  font-size: $font-size;
  font-weight: $font-weight;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  gap: 0.5rem;
  &:hover {
    background-color: $hover-color;
  }
  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: lighten($bg-color, 30%);
    cursor: not-allowed;
  }
}
