
//Colores
$color-primary: #003459;
$color-secondary: #04528A;
$color-light-blue: #F1F9FF;
$color-white: #FFFF;
$color-black: #030C13;
$color-dark-gray: #303030;
$color-medium-gray:#484646;
$color-light-gray: #F5F5F5;
$color-error: #D64545;
$color-warning:#5098D3;
$color-success: #33913A;
$color-background: #F0F8FF;

//Tipografía
$font-family-primary: 'Roboto', sans-serif;
