@import './variables';
@import './mixins';

@import './pages/login';
@import './pages/home';
@import './grupos/home.scss';
@import './grupos/detalleGrupo.scss';
@import './grupos/formulario.scss';
@import './pages/equipamiento';
@import './pages/personal';
@import './pages/agregar-personal';
@import './pages/perfil-personal' ;

@import './components/modalMensaje';
@import './components/header';
@import './components/sidebar';
@import './components/table';
@import './components/modalEquipamiento';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-primary;

}
.main-content {
  margin-left: 64px;   
  margin-top: 104px; 
  height: calc(100vh - 104px);
  overflow: hidden; 
  padding: 24px;
  transition: margin-left 0.3s ease;
  background-color: $color-background;
  overflow-y: auto;

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 16px;
    height: calc(100vh - 80px);
    margin-top: 80px;
    overflow-y: auto;
  }

  @media (max-width: 640px) {
    padding: 12px;
  }
}

// Oculta el loader SVG automático de Next.js
[data-next-mark-loading],
[data-next-mark-loading="false"] {
  display: none !important;
}
