@import "../variables";
.home-sgmi {
  width: 100%;
  height: 100vh;
  padding: 0rem 3rem;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $color-primary;

  &__header {
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 2rem 2.5rem;
    text-align: left;

    .home-sgmi__title {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
      color: $color-black;
    }

    .home-sgmi__subtitle {
      font-size: 1.2rem;
      color: $color-secondary;
      margin-bottom: 1rem;
    }

    .home-sgmi__text {
      font-size: 1rem;
      color: $color-dark-gray;
      line-height: 1.6;
    }

    strong {
      color: $color-black;
    }
  }

   &__modules {
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1.5rem;
  }

  &__card {
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.2s ease;
    min-height: 200px;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    }
    .home-sgmi__icon {
      font-size: 1.8rem;
      color: $color-secondary;
      margin-bottom: 0.8rem;
    }

    h3 {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      color: $color-black;
    }

    p {
      font-size: 0.9rem;
      color: $color-dark-gray;
      line-height: 1.5;
    }
  }

  &__footer {
    background-color: $color-white;
    border-radius: 0.8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 1.5rem 2rem;
    font-size: 0.9rem;
    color: $color-medium-gray;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
  }

}
