@import "../variables";
@import "../mixins";
.login {
  width: 100%;
  height: 100vh;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__card {
    margin-top: 6.5rem;
    background-color: $color-white;
    padding: 1.5rem 3rem;
    border-radius: 1.2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    max-width: 420px;
    min-height: 420px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__icon {
    font-size: 80px;
    color: $color-primary;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 600px;
    color: $color-black;
    text-align: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }

  &__group {
    position: relative;
    &--icon {
      position: absolute;
      top: 50%;
      left: 0.75rem;
      transform: translateY(-50%);
      color: $color-primary;
    }
    input {
      width: 100%;
      padding: 0.75rem 2.5rem 0.75rem 2.5rem;
      border: 1px solid $color-primary;
      border-radius: 0.4rem;
      background-color: #f9fafb;
      color: $color-black;
      font-size: 0.9rem;
      transition: all 0.2s ease;
      &:focus {
        outline: none;
        border-color: $color-secondary;
        background-color: $color-white;
        box-shadow: 0 0 0 3px rgba(21, 101, 192, 0.15);
      }
    }
  }
  &__toggle {
    text-align: end;
    position: absolute;
    right: 0.75rem;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: $color-medium-gray;
    &:hover {
      color: $color-black;
    }
  }
  &__label {
    font-size: 0.9rem;
    color: $color-primary;
  }
  &__error {
    color: $color-error;
    font-size: 0.9rem;
  }
  &__text {
    font-size: 0.9rem;
    color: $color-dark-gray;
  }
  &__button {
    @include button-style(
      $color-primary,
      $color-white,
      lighten($color-primary, 10%),
      darken($color-primary, 10%),
      0.9rem,
      1rem,
      600
    );
  }
  &__link {
    color: $color-primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.reset-text {
  text-align: center;
}

.register-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.login__field.register {
  width: 100%;
  
}

.login__group.register{
  width: 100%;

} 

.login__card.register{
  padding: 1rem 2rem;
  max-width: 550px;
  min-height: 550px;
    gap: 0.5rem;
    form{
      gap: 0.75rem;
    }
}

.login__input.no-icon{
  padding: 0.75rem;
}