@import '../variables';
@import '../mixins';
.login {
  width: 100%;
  height: 100vh;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__card {
    margin-top: 6.5rem;
    background-color: $color-white;
    padding: 1.5rem 3rem;
    border-radius: 1.2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    max-width: 420px;
    min-height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__icon{
    font-size: 80px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  &__title{
    font-size: 1.8rem;
    font-weight: 600px;
    color: $color-black;
  }
   &__field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.25rem;
    input{
        width: 100%;
        padding: 0.5rem;
        border: 1px solid $color-primary;
        border-radius: 0.4rem ;
        background-color: #f9fafb;
        font-size: 0.8rem;
        transition: all 0.2s ease;
        &:focus{
            outline: none;
            border-color: $color-secondary;
            background-color: $color-white;
            box-shadow: 0 0 0 3px rgba(21, 101, 192, 0.15);
        }
    }
}
&__label{
    font-size: 0.9rem;
    color: $color-primary;
}
&__error{
    color: $color-error;
    font-size: 0.9rem;
}
&__text{
   font-size: 0.9rem;
   color: $color-dark-gray; 
}
&__button{
    @include button-style($color-primary,$color-white,
  lighten($color-primary,10%),
  darken($color-primary,10%));
}
&__link{
    color: $color-primary;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
}
