@import "../variables";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-primary;
  color: $color-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.5rem;
  gap: 0.5rem;
  height: 6.5rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18);
  &__title {
    line-height: 1.1;

    h1 {
      font-size: 2.5rem;
      margin: 0;
      font-weight: 600;
    }

    p {
      margin: 0;
    }
  }
}
