@import "../variables";
.modal-mensaje {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease;
  z-index: 2002;
  &__content {
    min-width: 500px;
    background: #fff;
    border-radius: 1rem;
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  &__icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    margin: 0 auto 1rem auto;
  }
  &__texto {
    color: $color-black;
    font-size: 1rem;
  }
  &--exito {
    color: $color-success;
  }
  &--error {
    color: $color-error;
  }
  &--warning {
    color: $color-warning;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
